.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh; // con negativo si muove in su, invece che in giù, così lo sfondo va a coprire quel triangolo lasciato libero dal poligono
    
}